# Node
frontend/node_modules
frontend/.next
frontend/.turbo

# Python
**/__pycache__/
backend/.venv

# OS
.DS_Store

# Docker
db-data

# Environment variables
frontend/.env.local
backend/.env.
backend/.env.docker

# Virtual environments
backend/.venv/

# Ruff
**/.ruff_cache/
