fastapi==0.128.7
uvicorn[standard]==0.40.0
pydantic==2.12.5
pydantic_settings==2.12.0
SQLAlchemy[asyncio]==2.0.44
alembic==1.17.2
psycopg2-binary==2.9.11
asyncpg==0.31.0
python-dotenv==1.2.1
ruff==0.14.10
pre-commit==4.5.1
httpx==0.28.1
cachetools==6.2.4
tzdata==2025.3
greenlet==3.3.0
aiosqlite==0.22.0
pytest-asyncio==1.3.0
langsmith==0.6.2
langchain-openai==1.1.8
langchain-core==1.2.11
langgraph==1.0.8
langchain==1.2.10
pytest==9.0.2
rich==14.3.1
jinja2==3.1.6
slowapi==0.1.9
rapidfuzz==3.14.3
